@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "NotoSans";
  src: url("/public/fonts/NotoSans-Light.ttf");
  font-weight: light;
}

* {
  font-family: "NotoSans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
